# VS code
.vscode

# Environment
.env
*.pem
secrets.json
config.json

# python
.venv
__pycache__
*.pyc

# django
db.sqlite3
/static/
staticfiles

# mac
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
