body {
  padding-top: 60px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  background-color: #01284a;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}