#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    background-color: #01284a;
}

header {
    border-bottom: 1px solid #999;
    /* margin-bottom: 2rem; */
    display: flex;
    background-color: #999;
    width: 100%;
}

header h1 a {
    color: red;
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}

.navbar-brand {
    margin-left: 16px;
}


.wrapping_div {
    display: flex;
}

.my_card {
    margin-left: 130px;
    margin-top: 50px;
}

.welcome_text {
    color: whitesmoke;
    justify-content: right;
    margin-top: 270px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 600px;
}

.wrapper_about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 940px;
    justify-items: center;
    margin-top: 30px;
}

.wrapper_about div:nth-of-type(even) {
    grid-column: 2;
}


.about_card2 {
    grid-row: 2;
}

.about_card3 {
    grid-row: 3;
}

.about_card4 {
    grid-row: 4;
}

.about_card5 {
    grid-row: 5;
}

.about_card6 {
    grid-row: 6;
}

.fa-python {
    padding-right: 13px;
}

.fa-github {
    padding-left: 16px;
}

.fa-linkedin-square {
    padding-left: 16px;
}

.fa-phone {
    padding-left: 16px;
}

.fa-envelope {
    padding-left: 16px;
}

.button-links {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-right: 16px;
}