.wrapper-home {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: auto;
    justify-items: center;
    margin-top: 30px;
}

.post-card {
    width: 80%;
    max-width: 800px;
    margin-bottom: 2rem;
}

.post-card h2 {
    margin: 0.5rem 0;
}

.post-card h2 a,
.post-card h2 a:visited {
    text-decoration: none;
}

.skill-badges {
    display: inline-block;
}

.skill-badges span,
.skill-badges i {
    padding-right: 10px;
}