.wrapping_div {
    display: flex;
    padding: 50px;
    gap: 50px;
}

.summary {
    width: 18rem;
    max-width: 18rem;
    margin-left: 130px;
}

.welcome-text {
    color: whitesmoke;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 1110px) {
    .wrapping_div {
        flex-direction: column-reverse;
    }

    .summary {
        margin-left: 0;
    }
}
