{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="wrapper_about">

    <div class=" about_card1 card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'lincoln.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Lincolnshire Life 🏠</h5>
            <p class="card-text">I was born in Lincoln (UK) in the early 1990s where I lived with my family in a rural village on the outskirts of town.</p>
        </div>
    </div>

    <div class="about_card2 card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'monmouth.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Croeso i Gymru 🏴󠁧󠁢󠁷󠁬󠁳󠁿</h5>
            <p class="card-text">I now live in a beautiful area of South Wales, near Cardiff and have been here for the past 2 years. I love to go on hikes in the local valleys during the weekend in the summer. </p>
        </div>
    </div>

    <div class="about_card3 card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'borja.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Borja & James 💕 🏳️‍🌈</h5>
            <p class="card-text">I live together with my partner Borja, we've been together for over 3 years now, we've just bought a house together and are currently looking at getting a puppy! We are both proud members of the LGBT community in South Wales.</p>
        </div>
    </div>

    <div class="about_card4 card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'seal.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Under the Sea 🤿</h5>
            <p class="card-text">I LOVE scuba diving, it is my favorite pastime. I learnt to dive in 2018 and mainly dive in and around the UK, though I've also been diving in Malta, Gozo, Greece and the Bahamas. This photo is from when I went diving with seals in the Farne Islands off the North East coast of England.</p>
        </div>
    </div>

    <div class="about_card5 card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'octo.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Photography Lover 📸 🐙</h5>
            <p class="card-text">I became obsessed with photography in 2017 when I spent most of the year travelling around Europe. Lately however I've merged this passion with my scuba diving and mainly take underwater photos, I've taken part in local and national photography competitions. This picture is from my most recent diving trip in Zakynthos Greece.</p>
        </div>
    </div>

    <div class="about_card6 card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'cave.jpeg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Exploring Underground 🧗🏻‍♂️</h5>
            <p class="card-text">I enjoy exploring caves in the rural areas of the UK with members of my caving and potholing club. Some of the best places to explore have been the Yorkshare Dales, the Peak District and of course Wales!</p>
        </div>
    </div>

</div>
{% endblock content %}