{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="wrapper_about">

    <div class=" about_card1 card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'lincoln.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Lincolnshire Life</h5>
            <p class="card-text">I was born in Lincoln (UK) in the early 1990s where I lived with my family in a rural village on the outskirts of town.</p>
        </div>
    </div>

    <div class="about_card2 card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'guitar.png' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">From music to electronics</h5>
            <p class="card-text">After school I went to college to study music, a passion of mine. Throughout this time I began repairing and playing with electronic equipment which lead me to studying an Electronic Engineering BTEC via distance learning.</p>
        </div>
    </div>

    <div class="about_card3 card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'lincoln.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Lincolnshire Life</h5>
            <p class="card-text">I was born in Lincoln (UK) in the early 1990s where I lived with my family in a rural village on the outskirts of town.</p>
        </div>
    </div>

    <div class="about_card4 card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'lincoln.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Lincolnshire Life</h5>
            <p class="card-text">I was born in Lincoln (UK) in the early 1990s where I lived with my family in a rural village on the outskirts of town.</p>
        </div>
    </div>

    <div class="about_card5 card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'lincoln.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Lincolnshire Life</h5>
            <p class="card-text">I was born in Lincoln (UK) in the early 1990s where I lived with my family in a rural village on the outskirts of town.</p>
        </div>
    </div>

    <div class="about_card6 card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'lincoln.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Lincolnshire Life</h5>
            <p class="card-text">I was born in Lincoln (UK) in the early 1990s where I lived with my family in a rural village on the outskirts of town.</p>
        </div>
    </div>

</div>
{% endblock content %}