{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href= "{% static 'css/about.css' %}">
{% endblock extrahead %}
{% block content %}
<div class="wrapper-about">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/lincoln.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Lincolnshire Life 🏠</h5>
            <p class="card-text">I was born in Lincoln (UK) in the early 1990s where I lived with my family in a rural village on the outskirts of town.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/monmouth.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Croeso i Gymru 🏴󠁧󠁢󠁷󠁬󠁳󠁿</h5>
            <p class="card-text">I now live in a beautiful area of South Wales, near Cardiff and have been here for the past 2 years. I love to go on hikes in the local valleys during the weekend in the summer. </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/borja.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Borja & James 💕 🏳️‍🌈</h5>
            <p class="card-text">I live together with my partner Borja, we've been together for over 3 years now, we've just bought a house together and are currently looking at getting a puppy!</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/diver.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Under the Sea 🤿</h5>
            <p class="card-text">I LOVE scuba diving, it is my favorite pastime. I learnt to dive in 2018 and mainly dive in and around the UK, though I've also been diving in Malta, Gozo, Greece and the Bahamas. This photo is from a recent diving trip to the Bahamas</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/ray.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Photography Lover 📸 </h5>
            <p class="card-text">I became obsessed with photography in 2017 when I spent most of the year travelling around Europe. Lately however I've merged this passion with my scuba diving and mainly take underwater photos, I've taken part in local and national photography competitions. This picture is from my most recent diving trip in the Red Sea.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/runner.jpg' %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">I love running 🏃‍♂️ </h5>
            <p class="card-text">I love running, I'm currently training to run a half marathon and I'm part of my local running club</p>
        </div>
    </div>
</div>
{% endblock content %}