<!--templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% for post in object_list %}
    <div class="card post-entry" style="width: 50%;">
        <div class="card-header">
            <a class="nav-link" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
          </div>
          <img class="card-img-top" src="{% static 'tableau.jpg' %}" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">{{ post.body }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock content %}