<!--templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="wrapper_post-entries">
    {% for post in object_list %}
    <div class="card post-entry" style="width: 50%;">
        <a class="nav-link" href="{% url 'post_detail' post.pk %}">
            <div class="card-header">{{ post.title }}</div>
            <img class="card-img-top" src="{% static post.imagePath %}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">{{ post.thumbnail }}</p>
            </div>
            <div class="card-footer">
                <div class="skill-badges">
                    <span>Skills:</span>
                    {% if post.skill_python %}
                    <i class="fa-brands fa-python" data-toggle="tooltip" title="Python"></i>
                    {% endif %}
                    {% if post.skill_excel %}
                    <i class="fa-regular fa-file-excel" data-toggle="tooltip" title="Excel"></i>
                    {% endif %}
                    {% if post.skill_r %}
                    <i class="fa-brands fa-r-project" data-toggle="tooltip" title="R"></i>
                    {% endif %}
                    {% if post.skill_sql %}
                    <i class="fa-solid fa-database" data-toggle="tooltip" title="SQL"></i>
                    {% endif %}
                    {% if post.skill_aws %}
                    <i class="fa-brands fa-aws" data-toggle="tooltip" title="AWS"></i>
                    {% endif %}
                    {% if post.skill_raspberry_pi %}
                    <i class="fa-brands fa-raspberry-pi" data-toggle="tooltip" title="Raspberry Pi"></i>
                    {% endif %}
                    {% if post.skill_machine_learning %}
                    <i class="fa-solid fa-microchip" data-toggle="tooltip" title="Machine learning"></i>
                    {% endif %}
                    {% if post.skill_descriptive_analytics %}
                    <i class="fa-solid fa-chart-simple" data-toggle="tooltip" title="Descriptive analytics"></i>
                    {% endif %}
                    {% if post.skill_six_sigma %}
                    <i data-toggle="tooltip" title="Six sigma">6&sigma;</i>
                    {% endif %}
                    {% if post.skill_tableau%}
                    <div class="icon baseline" data-toggle="tooltip" title="Tableau">
                        <img class="svg-icon" src="{% static 'img/tableau.svg' %}" alt="tableau-icon">
                    </div>
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}
