{% extends 'base.html' %}
{% load static %}

<head>
    <link rel="stylesheet" href= "{% static 'css/base.css' %}">
</head>

{% block content %}

{% comment %} <h1>Test landing</h1> {% endcomment %}
<div class ="wrapping_div">
<div class="card my_card" style="width: 18rem;">
    <img class="card-img-top" src="{% static 'github_photo_square.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">James Booth | Data Scientist & Python Developer</h5>
      <p class="card-text">Data scientist with a background in process and manufacturing engineering. Experience in predictive analytics, modeling, machine learning, and data visualization. Looking to develop innovative solutions, work colaboratively & learn.</p>
    </div>
  </div>


<div class ="welcome_text">
    <h2>Hi, I'm James</h2>
    <p>Welcome to my personal dev site.</p>
    
    <p>Feel free to download a copy of my CV, checkout my recent projects in my portfolio or contact me for a chat</p>
</div>
</div>
{% endblock content %}